examples/basic-sum.json
[
    {
        "id": "rpc-config-1",
        "type": "rpc-server",
        "name": "Local RPC Server",
        "endpoint": "/rpc",
        "safeEnabled": false,
        "corsEnabled": true
    },
    {
        "id": "rpc-method-sum",
        "type": "rpc-method",
        "name": "Sum Method",
        "server": "rpc-config-1",
        "methodName": "sum",
        "x": 300,
        "y": 200,
        "wires": [["function-add"]]
    },
    {
        "id": "function-add",
        "type": "function",
        "name": "Add Numbers",
        "func": "// Input: msg.payload = { a: 5, b: 3 }\nconst { a, b } = msg.payload;\n\n// Calculate sum\nmsg.payload = a + b;\n\n// IMPORTANT: Keep msg.rpc.id for response routing\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 200,
        "wires": [["rpc-method-sum"]]
    },
    {
        "id": "inject-test",
        "type": "inject",
        "name": "Test Sum",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"a\":10,\"b\":20}",
        "payloadType": "json",
        "x": 140,
        "y": 300,
        "wires": [["http-request-test"]]
    },
    {
        "id": "http-request-test",
        "type": "http request",
        "name": "Call RPC",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/rpc",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 310,
        "y": 300,
        "wires": [["debug-result"]]
    },
    {
        "id": "debug-result",
        "type": "debug",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 300,
        "wires": []
    },
    {
        "id": "comment-server",
        "type": "comment",
        "name": "RPC Server - Exposes /rpc endpoint",
        "info": "This is a config node. It doesn't appear in the flow.\nConfigure it by clicking the pencil icon in any RPC Method node.",
        "x": 200,
        "y": 140,
        "wires": []
    },
    {
        "id": "comment-test",
        "type": "comment",
        "name": "Test the RPC method (optional)",
        "info": "Click the inject button to test the sum method.\nYou can also test with curl from terminal.",
        "x": 190,
        "y": 260,
        "wires": []
    }
]
