examples/basic-sum.json
[
  {
    "id": "tab-rpc-basic-sum",
    "type": "tab",
    "label": "RPC basic sum",
    "disabled": false,
    "info": "Minimal standard JSON-RPC sum server."
  },
  {
    "id": "rpc-basic-sum-server",
    "type": "rpc-server",
    "name": "Basic Sum Server",
    "endpoint": "/rpc-basic-sum",
    "safeEnabled": false,
    "corsEnabled": true
  },
  {
    "id": "rpc-basic-sum-method",
    "type": "rpc-method",
    "z": "tab-rpc-basic-sum",
    "name": "sum",
    "server": "rpc-basic-sum-server",
    "methodName": "sum",
    "description": "Add two numbers",
    "exposeSchema": true,
    "schema": "{\"type\":\"object\",\"properties\":{\"a\":{\"type\":\"number\"},\"b\":{\"type\":\"number\"}},\"required\":[\"a\",\"b\"]}",
    "validateSchema": true,
    "x": 220,
    "y": 140,
    "wires": [
      [
        "fn-basic-sum"
      ],
      []
    ]
  },
  {
    "id": "fn-basic-sum",
    "type": "function",
    "z": "tab-rpc-basic-sum",
    "name": "add numbers",
    "func": "const params = msg.payload || {};\nmsg.payload = params.a + params.b;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 140,
    "wires": [
      [
        "rpc-basic-sum-response"
      ]
    ]
  },
  {
    "id": "rpc-basic-sum-response",
    "type": "rpc-response",
    "z": "tab-rpc-basic-sum",
    "name": "send result",
    "x": 680,
    "y": 140,
    "wires": []
  },
  {
    "id": "comment-basic-sum",
    "type": "comment",
    "z": "tab-rpc-basic-sum",
    "name": "POST /rpc-basic-sum method sum",
    "info": "Test with: curl -X POST http://localhost:1880/rpc-basic-sum -H \"Content-Type: application/json\" -d '{\"jsonrpc\":\"2.0\",\"method\":\"sum\",\"params\":{\"a\":5,\"b\":7},\"id\":1}'",
    "x": 260,
    "y": 80,
    "wires": []
  }
]
